@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --emerald-200: #a7f3d0;
  --emerald-300: #6ee7b7;
  --emerald-400: #34d399;
  --emerald-500: #10b981;
  --emerald-600: #059669;
  --emerald-700: #047857;
  --sky-300: #7dd3fc;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --sky-800: #075985;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --blue-400: #60a5fa;
  --blue-500: #3b82f6;
  --blue-600: #2563eb;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  height: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  max-width: 100%;
}
h2 {
  font-size: 34px;
  font-weight: 500;
  color: var(--slate-700);
}
h3 {
  font-size: 20px;
  font-weight: 500;
  color: var(--slate-800);
}

.container {
  padding: 0 20px;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--slate-200);
  padding: 15px 0px;
  gap: 1rem;
}
nav i {
  font-size: 24px;
  margin-left: 8px;
  cursor: pointer;
  display: none !important;
}
#brand img {
  width: 50px;
  min-width: 50px;
}
#search input {
  color: var(--slate-800);
  min-width: 500px;
  height: 50px;
  padding: 10px;
  outline: none;
  font-size: 18px;
  border: 2px solid var(--slate-200);
  border-radius: 10px;
}
#search input:hover,
#search input:focus {
  outline: 2px solid var(--blue-500);
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-left: auto;
}
.nav-links li {
  display: inline-block;
  font-size: 20px;
  color: var(--slate-700);
  font-weight: 500;
}
.nav-links hr {
  display: inline-block;
  height: 30px;
  width: 2px;
  background: var(--slate-400);
}
.nav-links a {
  color: var(--slate-700);
}
#nav_country,
#nav_cart a {
  display: flex;
  align-items: center;
  color: var(--slate-400);
}
#nav_country {
  margin: 0 10px;
}
#nav_country img {
  width: 50px;
  margin-right: 5px;
}
#nav_cart img {
  width: 40px;
}

header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.2rem;
  padding: 20px 0;
}
header #categories {
  border: 1px solid var(--slate-200);
  border-radius: 6px;
}
header #categories li {
  color: var(--slate-400);
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 10px 15px;
  border-bottom: 1px solid var(--slate-200);
}
header #categories li:last-child {
  border-bottom: none;
}
#header_slide {
  grid-area: 1 / 2 / 2 / 5;
  position: relative;
}
header img {
  height: 100%;
}
#header_slide div {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
}
#header_slide span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: var(--slate-700);
  border-radius: 50%;
}

#remise,
#products {
  margin-top: 40px;
}

#remise_products {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  overflow-x: scroll;
  scrollbar-width: none;
}
#remise_products::-webkit-scrollbar {
  display: none;
}
#remise_products .empty_product {
  background: var(--slate-200);
  min-width: 404px;
  border-radius: 5px;
}
#remise_products .product_card:nth-child(2) .product_card_img {
  background-image: url("./assets/remise_img1.png");
}
#remise_products .product_card:nth-of-type(3) .product_card_img {
  background-image: url("./assets/remise_img3.png");
}

/* Product Card Style : */
.product_card {
  background: var(--slate-100);
  border-radius: 5px;
  position: relative;
}
.product_card a {
  position: absolute;
  inset: 0;
}
.product_card_img {
  aspect-ratio: 5 / 4;
  background: url("./assets/keybord_img.png") center no-repeat;
  background-size: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.product_card_info {
  padding: 6px;
}
.product_card_new-price {
  font-size: 34px;
  color: var(--slate-700);
}
.product_card_old-price {
  font-size: 27px;
  color: var(--slate-500);
  position: relative;
}
.product_card_old-price::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background: red;
  left: 0;
  top: 35%;
  transform: rotate(-15deg);
}
.product_card_desc {
  font-size: 16px;
  color: var(--slate-600);
}
.product_card_footer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 12px;
}
.product_card_star {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  font-size: 22px;
  color: var(--slate-100);
  background: var(--yellow-400);
  padding: 0 8px;
  border-radius: 16px;
}
.product_card_footer img {
  width: 23px;
}
.product_card hr {
  display: inline-block;
  width: 1px;
  height: 38px;
  border-color: var(--slate-200);
}
.product_card_sold {
  font-size: 22px;
  color: var(--slate-400);
}
.product_card_mall-icon {
  width: 32px;
  height: 32px;
  display: inline-grid;
  place-items: center;
  background: var(--yellow-400);
  border-radius: 50%;
  margin-left: auto;
}
/* --------------- */

/* HOME PAGE STYLES : */
#remise_products .product_card {
  min-width: 404px;
}
#remise_products .product_card_info {
  padding: 10px 15px;
}
#remise_products .product_card_desc {
  font-size: 20px;
}
#remise_products .product_card_footer img {
  width: 28px;
}
#remise_products .product_card_star {
  padding: 4px 15px;
}
#remise_products .product_card_mall-icon {
  width: 39px;
  height: 39px;
}

#products_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
  grid-gap: 1rem;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: 1rem;
}
.dots {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.dots span {
  display: inline-block;
  width: 25px;
  height: 25px;
  background: var(--slate-200);
  border-radius: 50%;
}

/* PAGE 2 STYLES : */
#products_main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 40px 0;
}
#products_filter {
  grid-area: 1 / 1 / -1 / 2;
  min-width: 200px;
}
#products_filter h3 {
  margin-bottom: 1rem;
}
#products_filter ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.checkbox {
  display: block;
  position: relative;
  padding-left: 15px;
  font-size: 18px;
  font-weight: 500;
  color: var(--slate-500);
  cursor: pointer;
  user-select: none;
}
.checkbox input[type="checkbox"] {
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox .checkmark {
  position: absolute;
  left: 0;
  top: 4px;
  width: 14px;
  height: 14px;
  border: 2px solid var(--emerald-400);
}
.checkbox .checkmark::after {
  font: var(--fa-font-solid);
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  content: "\f00c";
  position: absolute;
  font-size: 10px;
  color: var(--slate-50);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type="checkbox"]:checked ~ .checkmark {
  background: var(--emerald-400);
}
#products_filter .ranges {
  width: 100%;
  height: 30px;
  position: relative;
}
#products_filter .range_values {
  width: 160px;
  color: var(--slate-500);
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#products_filter .ranges input {
  position: absolute;
}

#products_main section {
  grid-area: 1 / 2 / -1 / -1;
  margin-top: 0;
}
#products_main section .filters_flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 0.5rem;
}
#products_main .search_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#products_main .search_results_p,
#products_main .search_header label {
  font-size: 20px;
  font-weight: 500;
  color: var(--slate-800);
}
#products_main .search_results_p span {
  color: var(--yellow-500);
}
#products_main .search_header label {
  margin-right: 1rem;
}
#products_main .products_filter_select {
  color: var(--slate-400);
  font-size: 16px;
  background-color: transparent;
  border: 2px solid var(--slate-200);
  outline: 0;
  padding: 4px 8px;
  border-radius: 6px;
}
#products_main .radio_options {
  display: flex;
  justify-content: space-around;
  position: relative;
  overflow-x: scroll;
  scrollbar-width: none;
}
#products_main .radio_options::-webkit-scrollbar {
  display: none;
}
#products_main .radio_options .all_filters {
  display: block;
  position: sticky;
  right: 0;
  min-width: 95px;
  color: var(--slate-700);
  background-color: #fff;
  padding-inline: 15px;
  cursor: pointer;
  display: none;
}
#products_main .radio_options label {
  display: flex;
  align-items: center;
  gap: 5px;
  min-width: 125px;
  color: var(--slate-400);
  font-size: 18px;
  cursor: pointer;
}
#products_main .radio_options label:last-of-type {
  color: var(--yellow-500);
  font-weight: 500;
}
#products_main .radio_options label:last-of-type input {
  opacity: 0;
  width: 0;
  height: 0;
}
#products_main #products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(337px, 1fr));
  grid-gap: 1rem;
  margin: 0;
}

/* PAGE 3 STYLES : */
#product_details {
  padding: 25px 0;
}
#product_details #header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
  grid-gap: 1rem;
  border-bottom: 1px solid var(--slate-200);
  padding-bottom: 1.4rem;
}
#product_details #header > div {
  width: 100%;
}
/* #product_details .album {
  grid-area: 1 / 1 / -1 / 3;
} */
#product_details .product_img {
  background: url("./assets/header_img.png") center no-repeat;
  background-size: cover;
  aspect-ratio: 5 / 4;
  border-radius: 5px;
  margin-bottom: 1rem;
}
#product_details .album_imgs {
  display: flex;
  justify-content: space-between;
}
#product_details .album_imgs div {
  width: 90px;
  height: 90px;
  background: var(--slate-200);
}
/* #product_details .info {
  grid-area: 1 / 3 / -1 / 5;
} */
#product_details .info_h1 {
  font-size: 30px;
  color: var(--slate-800);
  font-weight: 400;
  margin-bottom: 1.5rem;
}
#product_details .info_star {
  display: flex;
  gap: 4px;
  margin-bottom: 1rem;
}
#product_details .album hr {
  width: 1px;
  height: 30px;
  border-color: var(--slate-200);
}
#product_details .info_p {
  font-size: 20px;
  color: var(--slate-500);
  line-height: 1.4;
}
#product_details .info_price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
#product_details .info_price span:first-child {
  font-size: 32px;
  font-weight: 600;
  color: var(--slate-800);
}
#product_details .info_price span:last-child {
  font-size: 23px;
  color: var(--slate-500);
}
#product_details h4 {
  font-size: 28px;
  font-weight: 600;
  color: var(--slate-800);
  margin-bottom: 1rem;
}
#product_details .info_size {
  display: flex;
  gap: 0.7rem;
  margin-bottom: 1rem;
}
.item_clickable {
  position: relative;
}
.item_clickable input {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}
.item_clickable span {
  display: grid;
  place-items: center;
  width: 74px;
  height: 74px;
  border: 2px solid var(--slate-200);
}
.item_clickable input:checked ~ span {
  border-color: var(--yellow-500);
}
#product_details .info_color {
  display: flex;
  gap: 1rem;
}
#product_details .info_color span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#product_details .info_color div:first-child span {
  background-color: var(--emerald-600);
}
#product_details .info_color div:nth-child(2) span {
  background-color: var(--blue-400);
}
#product_details .info_color div:nth-child(3) span {
  background-color: var(--slate-200);
}
#product_details .info_color div:last-child span {
  background-color: var(--slate-700);
}
#product_details .shipping {
  /* grid-column: 5 / -1; */
  height: auto;
  align-self: self-start;
  background-color: #ebfcf4;
  border: 2px solid var(--slate-100);
}
#product_details .shipping > div {
  padding: 10px 15px;
  border-bottom: 2px solid var(--emerald-500);
}
#product_details .shipping > div:last-child {
  padding: 1.5rem 15px;
  border: none;
}
#product_details .shipping > div:first-child {
  display: flex;
  justify-content: space-between;
}
#product_details .shipping > div:first-child span {
  color: var(--slate-600);
  font-size: 20px;
  font-weight: bold;
}
#product_details h5 {
  font-size: 20px;
  font-weight: 600;
  color: var(--slate-600);
}
#product_details .shipping div:not(:first-child) h5 {
  margin-bottom: 0.6rem;
}
#product_details .shipping div p {
  display: inline-block;
  max-width: 85%;
  font-size: 18px;
  color: var(--slate-500);
  font-weight: 600;
}
.shipping_quantity {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.shipping_quantity span {
  display: grid;
  place-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--slate-200);
  font-weight: bold;
  font-size: 22px;
}
.shipping_quantity span:last-child {
  background-color: var(--yellow-400);
}
.btn {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: var(--slate-50);
  background-color: var(--emerald-400);
  border: 0;
  padding: 8px 0;
  margin-bottom: 1rem;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}
#product_details .btn-outline {
  background-color: var(--slate-50);
  border: 2px solid var(--emerald-400);
  color: var(--emerald-400);
}
#product_details .btn-outline:hover {
  color: var(--slate-50);
  background-color: var(--emerald-400);
}
#product_details .links {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  font-weight: 600;
  color: var(--slate-800);
}

#product_details #description {
  padding-top: 1rem;
  border-bottom: 1px solid var(--slate-200);
  padding-bottom: 1.4rem;
}
#product_details h2 {
  color: var(--slate-800);
  font-weight: 600;
  margin-bottom: 1rem;
}
#product_details #description p {
  font-size: 22px;
  color: var(--slate-500);
  line-height: 1.5;
}
#product_details #description > div {
  display: flex;
}
#product_details #description .img {
  min-width: 50%;
  aspect-ratio: 3 / 1;
  background: url("./assets/header_img.png") center no-repeat;
  background-size: cover;
}

#product_details #review {
  padding-top: 1rem;
  border-bottom: 1px solid var(--slate-200);
  padding-bottom: 1.4rem;
}
#product_details #review .container {
  display: flex;
  gap: 3rem;
}
#product_details .review_star_div {
  display: inline-flex;
  align-items: center;
  color: var(--slate-50);
  gap: 1rem;
  background: var(--yellow-400);
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 500;
  margin-inline: auto;
}
#product_details .stars {
  max-width: 400px;
}
#product_details .stars_div {
  display: flex;
  gap: 1rem;
}
#product_details .stars_div img {
  width: 24px;
}
#product_details #review .average_p {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: var(--slate-500);
  margin: 0.5rem 0 1rem;
}
#product_details #review .star_statis {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#product_details #review .bar {
  height: 6px;
  background-color: var(--slate-200);
  width: 190px;
  position: relative;
}
#product_details #review .stars .star_statis:nth-of-type(2) .bar::after,
#product_details #review .stars .star_statis:nth-of-type(3) .bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--yellow-400);
}
#product_details #review .stars .star_statis:nth-of-type(2) .bar::after {
  width: 88%;
}
#product_details #review .stars .star_statis:nth-of-type(3) .bar::after {
  width: 12%;
}
#product_details #review .star_statis span {
  width: 60px;
  font-size: 20px;
  font-weight: 600;
  color: var(--slate-500);
}
#product_details #review hr {
  width: 2px;
  height: 250px;
  align-self: center;
  border: 0;
  background-color: var(--slate-200);
}
#product_details #review .comments {
  flex: 1;
}
#product_details #review .comment {
  margin-bottom: 0.5rem;
}
#product_details #review .comment > div {
  display: flex;
}
#product_details #review .comment .profile {
  width: 45px;
  height: 45px;
  background: var(--slate-200);
  border-radius: 50%;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
#product_details #review .comment h5 {
  color: var(--slate-500);
}
#product_details #review .profile_post {
  color: var(--slate-400);
  font-size: 18px;
  font-weight: 500;
}
#product_details #review .comment .msg {
  color: var(--slate-500);
  font-size: 18px;
}
#product_details #review .comment_stars {
  color: var(--yellow-400);
  margin-left: auto;
}

#product_details #recommanded_products {
  padding-top: 1rem;
  margin-bottom: -140px;
}
#product_details #recommanded_products > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(293px, 1fr));
  gap: 1rem;
}

/* PAGE 4 STYLES : */
#cart_main {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1.5rem;
  padding: 30px 0;
}
#cart_main section {
  grid-column: 1 / 5;
  border: 2px solid var(--slate-200);
}
#cart_main #section_head {
  padding: 8px 15px;
  border-bottom: 2px solid var(--slate-200);
}
#cart_main #section_head label {
  font-weight: 600;
  color: var(--slate-600);
}
#cart_main .products {
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#cart_main .product_details {
  display: flex;
  align-items: center;
  gap: 1rem;
}
#cart_main .product_img {
  width: 126px;
  height: 115px;
  background: var(--slate-200);
}
#cart_main .product_info {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
#cart_main h3 {
  font-size: 23px;
  font-weight: 600;
  color: var(--slate-600);
}
#cart_main .product_info-p {
  font-size: 16px;
  font-weight: 600;
  color: var(--slate-500);
  background: var(--slate-200);
  padding: 6px 10px;
  border-radius: 22px;
}
#cart_main .price {
  font-size: 23px;
  font-weight: 600;
  color: var(--slate-600);
}
#cart_main .shipping {
  font-weight: 600;
  color: var(--slate-500);
}
#cart_main .likes {
  align-self: stretch;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
#cart_main .likes > div:first-child {
  color: var(--slate-500);
  font-weight: 500;
  font-size: 18px;
}
#cart_main .likes i {
  font-size: 20px;
}
#cart_main .likes > div:first-child span {
  margin-left: 6px;
  padding: 4px;
  background: var(--slate-200);
}

#cart_main aside {
  grid-column: 5 / -1;
  border: 2px solid var(--slate-200);
  align-self: self-start;
}
#cart_main #summary {
  padding: 10px 20px 20px;
  border-bottom: 2px solid var(--slate-200);
}
#cart_main #summary > div {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: var(--slate-500);
}
#cart_main #summary h3 {
  margin-bottom: 1.5rem;
}
#cart_main #summary > div:nth-of-type(2) {
  margin: 1.5rem 0;
}
#cart_main #summary button {
  margin-top: 1rem;
}
#cart_main #payment {
  padding: 20px 20px;
}
#cart_main #payment h3 {
  margin-bottom: 1rem;
}
#cart_main #payment p {
  color: var(--slate-500);
  font-weight: 600;
}

/* Footer Styles : */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 166px;
  background: var(--slate-700);
  margin-top: 160px;
}
footer ul {
  display: flex;
  gap: 4rem;
  font-size: 22px;
}
footer ul a {
  color: var(--slate-50);
}
footer p {
  font-size: 17.5px;
  color: var(--slate-400);
}

@media screen and (max-width: 1074px) {
  .container {
    padding: 0 10px;
  }
  nav {
    row-gap: 0.5rem;
    padding: 10px 0;
  }
  nav i {
    display: block !important;
  }
  #brand img {
    min-width: 40px;
    width: 40px;
  }
  #search {
    order: 1;
    width: 100%;
  }
  #search input {
    min-width: auto;
    font-size: 16px;
  }
  .nav-links li:first-child,
  .nav-links hr,
  .nav-links li:nth-child(3) {
    display: none;
  }
  .nav-links li {
    font-size: 16px;
  }
  #nav_country img {
    width: 40px;
  }
  #nav_cart img {
    width: 30px;
  }
}
@media screen and (max-width: 1016px) {
  #product_details .shipping {
    grid-column: 1 / -1;
  }
}
@media screen and (max-width: 870px) {
  /* PAGE 2 STYLES : */
  #products_main {
    padding: 20px 0;
    grid-template-columns: auto;
  }
  #products_filter {
    display: none;
  }
  #products_main section {
    grid-area: auto;
  }
  #products_main section .filters_flex {
    margin-bottom: 1rem;
  }
  #products_main .search_header {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    order: 1;
  }
  #products_main .search_results_p,
  #products_main .search_header label {
    font-size: 16px;
  }
  #products_main .radio_options {
    justify-content: flex-start;
    width: calc(100vw - 20px);
    gap: 0.5rem 1rem;
  }
  #products_main .radio_options label {
    font-size: 16px;
  }
  #products_main .radio_options .all_filters {
    display: block;
  }
  #products_main #products {
    margin-top: 0;
  }
  /* PAGE 4 STYLES : */
  #cart_main {
    grid-template-columns: auto;
    row-gap: 2rem;
  }
  #cart_main > section,
  #cart_main > aside {
    grid-area: auto;
  }
  #cart_main .product_img {
    width: 100px;
    height: 90px;
  }
  #cart_main h3,
  #cart_main .price {
    font-size: 18px;
  }
  #cart_main .product_info-p,
  #cart_main .shipping {
    font-size: 12px;
  }
  #cart_main .likes > div:first-child {
    font-size: 14px;
  }
  .shipping_quantity span {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 820px) {
  /* PAGE 3 STYLES : */
  #product_details #header {
    grid-template-columns: auto;
    row-gap: 1.5rem;
  }
  #product_details #header > div {
    grid-area: auto;
  }
  #product_details .info_h1 {
    font-size: 26px;
  }
  #product_details .info_p {
    font-size: 18px;
  }
  #product_details .info_price span:first-child {
    font-size: 26px;
  }
  #product_details .info_price span:last-child {
    font-size: 20px;
  }
  #product_details h4 {
    font-size: 26px;
  }
  #product_details h2 {
    font-size: 28px;
  }
  #product_details #description p {
    font-size: 18px;
  }
  #product_details #description > div {
    flex-direction: column;
  }
  #product_details #description .img {
    aspect-ratio: 2/1;
  }
  #product_details #review .container {
    flex-direction: column;
  }
  #product_details #review hr {
    width: 90%;
    height: 2px;
  }
}
@media screen and (max-width: 740px) {
  header {
    grid-template-columns: 1fr;
  }
  #categories {
    order: 1;
  }
  #header_slide {
    grid-area: auto;
  }
  #header_slide div {
    bottom: 10px;
  }
  #header_slide span {
    width: 15px;
    height: 15px;
  }
}
@media screen and (max-width: 600px) {
  #products_grid {
    margin-inline: 0;
  }

  /* PRODUCT CARD STYLE : */
  .product_card_new-price {
    font-size: 26px;
  }
  .product_card_old-price {
    font-size: 20px;
  }
  .product_card_star,
  .product_card_sold {
    font-size: 18px;
  }
  .product_card_footer img {
    width: 18px;
  }
  .product_card hr {
    height: 25px;
  }
  .product_card_mall-icon {
    width: 28px;
    height: 28px;
  }

  footer ul {
    font-size: 18px;
  }
}
